/*.work-flow{
  margin-right: 0; 
  margin-left: 0;
}*/

body {
  top: 0;
  bottom: 0;
  background-image: url('../Images/bg.jpg');
  background-attachment: fixed;
 }

/* Start Header */
.header h1 {
        text-align: center;
        color: #fff;
        font-size: 4em;
        font-weight: bold;
        padding-top: 8%;
        margin-bottom: 0;
        }

.header p {
       text-align: center;
       color: #c7c3c3e1;
       margin-top: -10px;
       font-weight: 600;
      }
/* End Of Header */

/* Start Main */
.main {
   margin-top: 5%;
  }

.main img {
        display: block;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
      }
/* End Of Main */

/* Start Special */
.special {
      padding-top: 8%;
      padding-bottom: 8%;
      text-align: center;
      background-color: #fff;
     }

.special h3 {
         font-weight: bold;
        }

.special p {
        color: #c7c3c3e1;
       }
/* End Of Special */

/* Start Paragraph */
.paragraph {
        padding-top: 8%;
        padding-bottom: 8%;
        padding-left: 10%;
        padding-right: 8%;
        background-color: #F5F5F5;
       }

.paragraph h3 {
           font-weight: bold;
           }

.paragraph p {
          color: #a5a4a4;
         }
/* End Of Paragraph */

/* Start Opinions */
.opinions {
        background-color: #1c1c1c;
        padding-top: 8%;
      }

.opinions .first {
              width: 85%;
              background-color: #000;
              margin-left: 7.5%;
              margin-right: 7.5%;
              text-align: center;
             }    
             
.opinions .first h3 {
                 color: #fff;
                 padding-top: 3%;
                }

.opinions .first p {
                color: #a5a4a4;
                font-size: small;
                padding-bottom: 3%;
               }

.opinions .first img {
                  width: 100%;
                  padding: 0;
                  margin: 0;
                 }

/* End Of Opinions */

/* Start Work */
.work {
       padding-top: 8%;
       background-color: #1c1c1c;
      }

.work .card {
             border: none;
             margin-top: -16px;
            }
    
.work .cardone ,
.work .cardthree {
                  background-color: #f1f1f1;
                 }

.work .cardone .card-body ,
.work .cardthree .card-body {
                             padding-top: 25%;
                             padding-left: 15%;
                            }

.work .cardone h4 ,
.work .cardthree h4{
                    font-weight: bold;
                   }

.work .card .card-body p {
                          color: #a5a4a4;
                          }  
                          
.work .cardtwo {
                background-color: #1c1c1c;
               }

.work .cardtwo .card-body {
                          text-align: right;
                          padding-right: 15%;
                          padding-top: 25%;
                          }

.work .cardtwo h4 {
                  font-weight: bold;
                  color: #f1f1f1;
                  }
/* End Of Work */

/* Start  Footer */
.footer {
        padding-top: 8%;
        padding-bottom: 8%;
        padding-left: 43%;
        }

.footer i {
          font-size: 1.8rem;
          margin-right: 2.5%;
          color: #f1f1f1;
          }
/* End Of Footer */

hr {
    width: 20%;
    border: 1px solid #c7c3c3e1;
    }



